{% extends 'hod_template/base_template.html' %}

{% block page_title %}
    Add Subject
{% endblock page_title %}

{% block main_content %}

{% load static %}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-dark">
                    <div class="card-header">
                        <h3 class="card-title">Add Subject</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form role="form" id="addSubjectForm" method="POST" action="{% url 'add_subject_save' %}">
                        {% csrf_token %}
                        <!-- Display Messages -->
                        {% if messages %}
                        <div class="form-group">
                            <div class="col-12">
                                {% for message in messages %}
                                {% if message.tags == "error" %}
                                <div class="alert alert-danger alert-dismissible fade show" role="alert" id="alert">
                                    {{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                {% elif message.tags == "success" %}
                                <div class="alert alert-success alert-dismissible fade show" role="alert" id="alert">
                                    {{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}
                        <div class="card-body">
                            <div class="form-group">
                                <label for="subject">Subject Name</label>
                                <input type="text" class="form-control" name="subject" placeholder="Enter Subject" required>
                            </div>

                            <div class="form-group">
                                <label for="course">Course</label>
                                <select class="form-control" name="course" required>
                                    <option value="">Select Course</option>
                                    {% for course in courses %}
                                    <option value="{{ course.id }}">{{ course.course_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="staff">Staff</label>
                                <select class="form-control" name="staff" required>
                                    <option value="">Select Staff</option>
                                    {% for staff in staffs %}
                                    <option value="{{ staff.id }}">{{ staff.first_name }} {{ staff.last_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button type="submit" class="btn btn-warning" id="btn">Add</button>
                        </div>
                    </form>
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

{% endblock main_content %}

{% block custom_js %}
<script>
    $(document).ready(function () {
        $('#addSubjectForm').submit(function (event) {
            var subject = $('#id_subject').val();
            var course = $('#id_course').val();
            var staff = $('#id_staff').val();

            // Check if subject, course, and staff are selected
            if (!subject.trim() || !course || !staff) {
                event.preventDefault();
                alert('Please fill in all fields.');
                return;
            }
        });
    });
</script>
{% endblock custom_js %}
